<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18F35DE01D76ACF1004E721B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F35DF61D76ACF2004E721B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F35E011D76ACF2004E721B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
