<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>questionCategory</key>
		<string>sleepCategory</string>
		<key>questionTitle</key>
		<string>sleepQuestionTitle</string>
		<key>questionSubtitle</key>
		<string>sleepQuestionSubtitle</string>
		<key>questionIcon</key>
		<string>sleep</string>
		<key>questionChoices</key>
		<array>
			<dict>
				<key>choiceTitle</key>
				<string>zeroToFourHours</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>fourToSixHours</string>
				<key>choiceValue</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>sixToNineHours</string>
				<key>choiceValue</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>nineOrMoreHours</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questionCategory</key>
		<string>emotionCategory</string>
		<key>questionTitle</key>
		<string>emotionQuestionTitle</string>
		<key>questionSubtitle</key>
		<string>emotionQuestionSubtitle</string>
		<key>questionIcon</key>
		<string>emotion</string>
		<key>questionChoices</key>
		<array>
			<dict>
				<key>choiceTitle</key>
				<string>happy</string>
				<key>choiceValue</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>fearful</string>
				<key>choiceValue</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>sad</string>
				<key>choiceValue</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>depressed</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questionCategory</key>
		<string>energyCategory</string>
		<key>questionTitle</key>
		<string>energyQuestionTitle</string>
		<key>questionSubtitle</key>
		<string>energyQuestionSubtitle</string>
		<key>questionIcon</key>
		<string>energy</string>
		<key>questionChoices</key>
		<array>
			<dict>
				<key>choiceTitle</key>
				<string>energized</string>
				<key>choiceValue</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>restless</string>
				<key>choiceValue</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>sluggish</string>
				<key>choiceValue</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>exhausted</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questionCategory</key>
		<string>focusCategory</string>
		<key>questionTitle</key>
		<string>focusQuestionTitle</string>
		<key>questionSubtitle</key>
		<string>focusQuestionSubtitle</string>
		<key>questionIcon</key>
		<string>focus</string>
		<key>questionChoices</key>
		<array>
			<dict>
				<key>choiceTitle</key>
				<string>focused</string>
				<key>choiceValue</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>anxious</string>
				<key>choiceValue</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>distracted</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>indecisive</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questionCategory</key>
		<string>motivationCategory</string>
		<key>questionTitle</key>
		<string>motivationQuestionTitle</string>
		<key>questionSubtitle</key>
		<string>motivationQuestionSubtitle</string>
		<key>questionIcon</key>
		<string>motivation</string>
		<key>questionChoices</key>
		<array>
			<dict>
				<key>choiceTitle</key>
				<string>motivated</string>
				<key>choiceValue</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>engaged</string>
				<key>choiceValue</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>unmotivated</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>withdrawn</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questionCategory</key>
		<string>appetiteCategory</string>
		<key>questionTitle</key>
		<string>appetiteQuestionTitle</string>
		<key>questionSubtitle</key>
		<string>appetiteQuestionSubtitle</string>
		<key>questionIcon</key>
		<string>appetite</string>
		<key>questionChoices</key>
		<array>
			<dict>
				<key>choiceTitle</key>
				<string>noMeals</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>oneToTwoMeals</string>
				<key>choiceValue</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>threeToFourMeals</string>
				<key>choiceValue</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>fiveOrMoreMeals</string>
				<key>choiceValue</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questionCategory</key>
		<string>selfEsteemCategory</string>
		<key>questionTitle</key>
		<string>selfEsteemQuestionTitle</string>
		<key>questionSubtitle</key>
		<string>selfEsteemQuestionSubtitle</string>
		<key>questionIcon</key>
		<string>self-esteem</string>
		<key>questionChoices</key>
		<array>
			<dict>
				<key>choiceTitle</key>
				<string>confident</string>
				<key>choiceValue</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>normal</string>
				<key>choiceValue</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>low</string>
				<key>choiceValue</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>selfLoathing</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questionCategory</key>
		<string>thoughtsCategory</string>
		<key>questionTitle</key>
		<string>thoughtsQuestionTitle</string>
		<key>questionSubtitle</key>
		<string>thoughtsQuestionSubtitle</string>
		<key>questionIcon</key>
		<string>thoughts</string>
		<key>questionChoices</key>
		<array>
			<dict>
				<key>choiceTitle</key>
				<string>optimistic</string>
				<key>choiceValue</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>paranoid</string>
				<key>choiceValue</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>pessimistic</string>
				<key>choiceValue</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>choiceTitle</key>
				<string>suicidal</string>
				<key>choiceValue</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
